<main id="inv-grid">
  <% if (title) { %>
    <h1>
      <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

    <% if (grid) { %> 
      <%- grid %> 
    <% } else { %>
      <p class="notice">Sorry, no vehicles could be found at this time. Please check back later.</p>
    <% } %>
</main>