<main id="management">
  <%- messages() %>

    <% if (errors) { %>
      <ul class="notice">
        <% errors.array().forEach(error=> { %>
          <li class="flash-message notice error">
            <%= error.msg %>
          </li>
          <% }) %>
      </ul>
      <% } %>

        <% if (title) { %>
          <h1>
            <%= title %>
          </h1>
          <% } else { res.redirect('/') } %>

            <ul class="manage-box">
              <li class="manage-button">
                <a href="/inv/add-classification">Add New Classification</a>
              </li>
              <li class="manage-button">
                <a href="/inv/add-inventory">Add New Inventory Item</a>
              </li>
            </ul>

            <h2>Manage Inventory</h2>
            <p>select a classification from the list to see the items belonging to the classification</p>
            <%- classificationSelect %>
              <table id="inventoryDisplay"></table>
              <noscript>JavaScript must be enabled to use this page.</noscript>
</main>
<script src="../../js/inventory.js"></script>